- 
    let mainMenu = [
        ["ГОловна", "#"],
        ["послуги", "#"],
        ["про компанію", "#"],
        ["Акції", "#"],
        ["Партнери", "#"],
        ["відгуки", "#"],
        ["Контакти", "#"],
    ]

- 
    let cardsInfo = {
        bike: {
            img: "../img/bike.svg",
            alt: "Тур на велосипедах",
            personal: "personal",
            price: "335 грн*",
            isStar: false,
            text: "Тур на велосипедах", 
            desc: "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвaидів та шалених пригод.",
        },
        island: {
            img: "../img/island-img.png",
            alt: "Екскурсія на острів",
            price: "500 грн*",
            isStar: true,
            text: "Екскурсія на острів", 
            desc: "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року.",
        },
        messages: {
            img: "../img/messages.png",
            alt: "Особливе замовлення",
            price: "250 грн.*",
            isStar: true,
            text: "Особливе замовлення",
            desc: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші.",
        },
    }

- 
    let card = {
               
        doubleTrip: {
            img: "img/double-trip.jpg",
            alt: "Романтична подорож на 2",
            price: "2599 грн.",
            isStar: true,
            text: "Романтична подорож на 2",
            desc: "Подорож у найромантичніші куточки світу, занурить вас у дивовижні пейзажі природи.,",
            href: "#",
            btnText : "замовити",
        },
        bikeTirp: {
            img: "img/bike-trip.jpg",
            alt: "Замовити велотур",
            price: "555 грн.",
            isStar: true,
            text: "Велотур",
            desc: "Бажаєте прокататись з вітерцем, та ще й з критим краєвидом довкола? Тоді швидше замовляй велотур!",
            href: "#",
            btnText : "замовити",
        },
        islandTirp: {
            img: "img/island-trip.jpg",
            alt: "Замовити поїздку на острів",
            price: "1559 грн.",
            isStar: true,
            text: "На острови!",
            desc: "Хочеш зануритись у тишу, місце де не має натовпу, та панує дмка природа? Тоді вперед за пригодами!",
            href: "#",
            btnText : "замовити",
        },
        serf: {
            img: "img/serf.jpg",
            alt: "Замовити поїздку на острів",
            price: "999 грн.",
            isStar: true,
            text: "На острови!",
            desc: "Хочеш отримати екстрим та мега вражень одночасно? Тоді вперед ловити хвилі!",
            href: "#",
            btnText : "замовити",
        },
    }

- 
    let additional = {
        graph: {
            src: "img/file.png",
            alt: "Графік роботи готелів.xls",
            file: "Розмір файла: 10MB",
            desc: "Розклад роботи усіх наших готелів, можете знайти за цим посиланням. Та додатково завантажити їх фото.",
            btnText: "скачати",
            href: "#"
        },
        info : {
            src: "img/file.png",
            alt: "Інформація про харчування.xls",
            file: "Розмір файла: 10MB",
            desc: "У будь-якому нашому турі включені сніданки у вартість. Якщо ж бажаєте замовити додотково, то ознайомтесь з умовами.",
            btnText: "скачати",
            href: "#"
        }

    }